<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062368279766-29h169167k3vmcst32n4sl2smog7tvej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062368279766-29h169167k3vmcst32n4sl2smog7tvej</string>
	<key>API_KEY</key>
	<string>AIzaSyBO_l9NWdiXrWtiMa3rN__HCZvkdhN0Cb0</string>
	<key>GCM_SENDER_ID</key>
	<string>1062368279766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>house-party-53eb7</string>
	<key>STORAGE_BUCKET</key>
	<string>house-party-53eb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062368279766:ios:3d83b2e209aa7cbf3f1d77</string>
</dict>
</plist>